#text-4 {
    color: white;
	right: 5vw;
	top: 50%;
	position: absolute;
    pointer-events: none;
    background-color: black;
    font-size: 2.5em;
}

#cvs-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title-4 {
    position: absolute;
    top: 0;
    font-size: 15vw;
    -webkit-text-stroke: 3px white;
    color: transparent;
    font-family: 'Noto Sans SC';
    font-weight: 900;
    margin-top: 3rem;
    pointer-events: none;
	right: 5vw;
    line-height: 1em;
}

@keyframes hue-rotate-4 {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}

#bg-4 {
    background-image: linear-gradient(to right, rgb(100, 0, 172) 0%, rgb(174, 125, 209) 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    animation: hue-rotate-4 140s infinite;
}

#bg-border-4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: white 1.5em solid;
    border-radius: 4em;
    outline: white 5em solid;
    outline-offset: -1.5em;
    pointer-events: none;
}

#countdown-4 {
    position: absolute;
	right: 5vw;
    top: 55vh;
    pointer-events: none;
    font-size: 2.2em;
    background-color: black;
}

@media only screen and (max-width: 768px) {
	#bg-border-4 {
        border: white 1em solid;
        border-radius: 2em;
        outline: white 5em solid;
        outline-offset: -1em;
    }
    #title-4 {
        text-orientation: mixed;
        writing-mode: vertical-lr;
        -webkit-text-stroke: unset;
        color: white;
        left: 1em;
        bottom: 3em;
        top: 0;
    }
    #text-4 {
        margin-left: 2em;
    }
    #countdown-4 {
        margin-left: 1.5em;
        top: 70vh;
    }
    #cvs-4 {
        display: none;
    }
}
